.row{
    margin:auto;
}

row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    display: inline-block;
    width: 20%;
    padding: 3px;
    vertical-align: middle;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    transition: .3s;
    border-radius: 5px 5px 5px 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.minorDetails { 
    display:inline-block;
}