.TopHeading{
    text-align: center;
    background-color: darkolivegreen;
}

.topNav{
    background-color: grey;
}

.navBar{
    background-color: blanchedalmond;
    padding:15px;
}

.navItems{
    text-align: right;
}

.IteminNav{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
    justify-content: center;
    margin:5px;
}

    
.homeCardStack{
    background-color: bisque;
    padding: 40px;
}

.row{
    margin: 0 -5px;
}

row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    display: inline-block;
    width: 24%;
    padding: 7px;
    align-items:center ;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    transition: .3s;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ThankYou{
    text-align: center;
    background-color: burlywood;
}

.bottomFooter{
    background-color: cornsilk;
}